* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bodybg.jpg) #fff repeat-x 50% top; PADDING-TOP: 0px
}
TABLE {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
TD {
	FONT: 12px verdana, Arial, sans-serif; COLOR: #666
}
DIV {
	TEXT-ALIGN: left; FONT: 12px verdana, Arial, sans-serif; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
TEXTAREA {
	FONT-SIZE: 12px
}
.STYLE5 {
	COLOR: #000; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; CURSOR: pointer
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	ZOOM: 1; DISPLAY: inline-block; _height: 1px
}
* HTML .clearfix {
	HEIGHT: 1%
}
* + HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
.black {
	COLOR: #000 !important
}
.white {
	COLOR: #fff
}
.blue {
	COLOR: #009fe1 !important
}
.green {
	COLOR: #1fa300 !important
}
.red {
	COLOR: #f00 !important
}
.topTl DIV EM I {
	COLOR: #f50 !important
}
.yel {
	COLOR: #f50 !important
}
.p11 {
	FONT-SIZE: 11px
}
.p12 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.p14 {
	FONT-SIZE: 14px
}
.boder01 {
	BORDER-BOTTOM: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; BORDER-RIGHT: #c6c6c6 1px solid
}
.boder02 {
	BORDER-BOTTOM: #dcdcdc 2px solid; BORDER-LEFT: #dcdcdc 2px solid; BORDER-TOP: #dcdcdc 2px solid; BORDER-RIGHT: #dcdcdc 2px solid
}
.noboder {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.none {
	DISPLAY: none !important
}
.hackbox {
	HEIGHT: 5px; CLEAR: both; OVERFLOW: hidden
}
.butyle {
	HEIGHT: 20px; MARGIN-LEFT: -8px
}
.butgreen {
	HEIGHT: 20px; MARGIN-LEFT: -8px
}
.butblue {
	HEIGHT: 20px; MARGIN-LEFT: -8px
}
.butyle:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: url(../images/butbg.gif) repeat-x left -52px; COLOR: #577c10 !important; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.butgreen:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: url(../images/butbg.gif) repeat-x left -52px; COLOR: #577c10 !important; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.butblue:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: url(../images/butbg.gif) repeat-x left -52px; COLOR: #577c10 !important; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.butyle {
	BORDER-BOTTOM: #e9dc60 1px solid; BORDER-LEFT: #e9dc60 1px solid; BACKGROUND: url(../images/butbg.gif) repeat-x left -31px; COLOR: #8e6f00; BORDER-TOP: #e9dc60 1px solid; BORDER-RIGHT: #e9dc60 1px solid
}
.butgreen {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: url(../images/butbg.gif) repeat-x left -52px; COLOR: #577c10; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.butblue {
	BORDER-BOTTOM: #60cce9 1px solid; BORDER-LEFT: #60cce9 1px solid; BACKGROUND: url(../images/butbg.gif) repeat-x left -73px; COLOR: #22677a; BORDER-TOP: #60cce9 1px solid; BORDER-RIGHT: #60cce9 1px solid
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right !important
}
.ac {
	TEXT-ALIGN: center !important
}
.ar {
	TEXT-ALIGN: right
}
.cle {
	CLEAR: both
}
.topTcT STRONG {
	FONT-WEIGHT: normal
}
.tit01T A STRONG {
	FONT-WEIGHT: normal
}
.loginT1 EM A STRONG {
	FONT-WEIGHT: normal
}
.ban1 UL LI A STRONG {
	FONT-WEIGHT: normal
}
.ban2 UL LI A STRONG {
	FONT-WEIGHT: normal
}
A {
	COLOR: #545454; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
A.topTrDh {
	BORDER-BOTTOM: #ffe400 1px solid; BORDER-LEFT: #ffe400 1px solid; PADDING-BOTTOM: 2px; MARGIN: 4px 7px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: block; BACKGROUND: #000; FLOAT: right; COLOR: #fff; BORDER-TOP: #ffe400 1px solid; BORDER-RIGHT: #ffe400 1px solid; PADDING-TOP: 3px
}
A.topTrDh:visited {
	BORDER-BOTTOM: #ffe400 1px solid; BORDER-LEFT: #ffe400 1px solid; PADDING-BOTTOM: 2px; MARGIN: 4px 7px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: block; BACKGROUND: #000; FLOAT: right; COLOR: #fff; BORDER-TOP: #ffe400 1px solid; BORDER-RIGHT: #ffe400 1px solid; PADDING-TOP: 3px
}
A.topTrDh:hover {
	BACKGROUND: #f40d00
}
A.daolist {
	BORDER-BOTTOM: #fef5c5 1px solid; BORDER-LEFT: #fef5c5 1px solid; PADDING-BOTTOM: 3px; MARGIN: 6px 15px; PADDING-LEFT: 32px; PADDING-RIGHT: 3px; DISPLAY: block; BACKGROUND: url(../images/anbg.gif) #fefef1 no-repeat 10px -638px; LETTER-SPACING: 8px; BORDER-TOP: #fef5c5 1px solid; BORDER-RIGHT: #fef5c5 1px solid; PADDING-TOP: 5px
}
A.daolist:visited {
	BORDER-BOTTOM: #fef5c5 1px solid; BORDER-LEFT: #fef5c5 1px solid; PADDING-BOTTOM: 3px; MARGIN: 6px 15px; PADDING-LEFT: 32px; PADDING-RIGHT: 3px; DISPLAY: block; BACKGROUND: url(../images/anbg.gif) #fefef1 no-repeat 10px -638px; LETTER-SPACING: 8px; BORDER-TOP: #fef5c5 1px solid; BORDER-RIGHT: #fef5c5 1px solid; PADDING-TOP: 5px
}
A.daolist:hover {
	BORDER-BOTTOM: #d2ffa7 1px solid; BORDER-LEFT: #d2ffa7 1px solid; BACKGROUND: url(../images/anbg.gif) #f1ffe1 no-repeat 11px -672px; COLOR: #247500; BORDER-TOP: #d2ffa7 1px solid; BORDER-RIGHT: #d2ffa7 1px solid
}
A.daolistc {
	BORDER-BOTTOM: #d2ffa7 1px solid; BORDER-LEFT: #d2ffa7 1px solid; BACKGROUND: url(../images/anbg.gif) #f1ffe1 no-repeat 11px -672px; COLOR: #247500; BORDER-TOP: #d2ffa7 1px solid; BORDER-RIGHT: #d2ffa7 1px solid
}
A.daolistc {
	PADDING-BOTTOM: 3px; MARGIN: 6px 15px; PADDING-LEFT: 32px; PADDING-RIGHT: 3px; DISPLAY: block; LETTER-SPACING: 8px; PADDING-TOP: 5px
}



.daobg02 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 0px !important; HEIGHT: 22px; CLEAR: both; PADDING-TOP: 3px !important
}
.daobg02 DIV {
	WIDTH: 950px
}
.daobg02 EM {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; FONT-STYLE: normal; WIDTH: 72px; DISPLAY: block; BACKGROUND: url(../images/anbg.gif); FLOAT: left; LETTER-SPACING: 1px; COLOR: #f00; VERTICAL-ALIGN: middle; FONT-WEIGHT: bolder
}
.daobg02 P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 72px; PADDING-RIGHT: 0px; COLOR: #aaa; PADDING-TOP: 2px
}
.main {
	WIDTH: 950px; BACKGROUND: #fff; HEIGHT: auto; MARGIN-LEFT: auto; CLEAR: both; MARGIN-RIGHT: auto
}
.zxtop {
	WIDTH: 950px; BACKGROUND: #fff; HEIGHT: auto; MARGIN-LEFT: auto; CLEAR: both; MARGIN-RIGHT: auto
}
.zxtop {
	MARGIN-TOP: 10px
}
.leftM {
	WIDTH: 456px; FLOAT: left
}
.leftM {
	MARGIN-TOP: 2px
}
.rightM {
	MARGIN-TOP: 2px
}
.rightM {
	WIDTH: 485px; FLOAT: right; MARGIN-LEFT: 2px
}
.rightM2 {
	MARGIN-TOP: 5px; WIDTH: 485px; FLOAT: right
}
.border1 {
	BORDER-BOTTOM: #efe7bc 1px solid; BORDER-LEFT: #efe7bc 1px solid; BORDER-TOP: #efe7bc 1px solid; BORDER-RIGHT: #efe7bc 1px solid
}
.jyborder {
	BORDER-BOTTOM: #efe7bc 1px solid; BORDER-LEFT: #efe7bc 1px solid; BORDER-TOP: #efe7bc 1px solid; BORDER-RIGHT: #efe7bc 1px solid
}
.jyborder {
	MARGIN-TOP: 5px
}
.border2 {
	BORDER-BOTTOM: #ffa40f 1px solid; BORDER-LEFT: #ffa40f 1px solid; WIDTH: 230px; FLOAT: left; BORDER-TOP: #ffa40f 1px solid; BORDER-RIGHT: #ffa40f 1px solid
}
.border3 {
	BORDER-BOTTOM: #efe7bc 1px solid; BORDER-LEFT: #efe7bc 1px solid; BORDER-TOP: #efe7bc 1px solid; BORDER-RIGHT: #efe7bc 1px solid
}
.leftM2 {
	WIDTH: 220px; FLOAT: left
}
OL.Pline01 {
	LIST-STYLE-TYPE: none; MARGIN: 1px 3px 0px; LIST-STYLE-IMAGE: none
}
OL.Pline02 {
	LIST-STYLE-TYPE: none; MARGIN: 1px 3px 0px; LIST-STYLE-IMAGE: none
}
OL.line01 {
	LIST-STYLE-TYPE: none; MARGIN: 5px 3px 0px; LIST-STYLE-IMAGE: none
}
.zxl {
	LIST-STYLE-TYPE: none; MARGIN: 5px 3px 0px; LIST-STYLE-IMAGE: none
}
OL.line00 {
	LIST-STYLE-TYPE: none; MARGIN: 5px 3px 0px; LIST-STYLE-IMAGE: none
}
OL.line0r2 LI {
	PADDING-BOTTOM: 5px; MARGIN: 0px 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
OL.line0r2 LI:hover {
	BACKGROUND: #f9f2fd
}
OL.line0r2 LI A:hover {
	TEXT-DECORATION: underline
}
OL.line01 LI A.xian {
	WIDTH: 270px
}
OL.line00 LI {
	BORDER-BOTTOM: #f0e0af 1px dotted; TEXT-ALIGN: left; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/butbg.gif) no-repeat 2px -112px; PADDING-TOP: 2px
}
OL.Pline01 LI {
	BORDER-BOTTOM: #f0e0af 1px dotted; TEXT-ALIGN: left; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/butbg.gif) no-repeat 2px -112px; PADDING-TOP: 2px
}
OL.Pline02 LI {
	BORDER-BOTTOM: #f0e0af 1px dotted; TEXT-ALIGN: left; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/butbg.gif) no-repeat 2px -112px; PADDING-TOP: 2px
}
OL.line01 LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/butbg.gif) no-repeat 2px -112px; PADDING-TOP: 2px
}
.zxl LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/butbg.gif) no-repeat 2px -112px; PADDING-TOP: 2px
}
OL.line01 LI:hover {
	BACKGROUND: url(../images/butbg.gif) #f9f2fd no-repeat 2px -133px
}
OL.Pline01 LI:hover {
	BACKGROUND: url(../images/butbg.gif) #f9f2fd no-repeat 2px -133px
}
OL.Pline02 LI:hover {
	BACKGROUND: url(../images/butbg.gif) #f9f2fd no-repeat 2px -133px
}
.zxl LI:hover {
	BACKGROUND: url(../images/butbg.gif) #f9f2fd no-repeat 2px -133px
}
OL.Pline01 LI:hover {
	BACKGROUND: url(../images/butbg.gif) #fefef1 no-repeat 2px -133px
}
OL.Pline02 LI:hover {
	BACKGROUND: url(../images/butbg.gif) #fefef1 no-repeat 2px -133px
}
OL.line01 SPAN {
	FLOAT: right; COLOR: #f50; FONT-SIZE: 11px; TEXT-DECORATION: none
}
OL.line00 SPAN {
	FLOAT: right; COLOR: #f50; FONT-SIZE: 11px; TEXT-DECORATION: none
}
OL.Pline01 SPAN {
	FLOAT: right; COLOR: #f50; FONT-SIZE: 11px; TEXT-DECORATION: none
}
OL.Pline02 SPAN {
	FLOAT: right; COLOR: #f50; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.zxl SPAN {
	FLOAT: right; COLOR: #f50; FONT-SIZE: 11px; TEXT-DECORATION: none
}
OL.line01 LI A {
	TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
OL.line00 LI A {
	TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
OL.Pline01 LI A {
	TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
OL.Pline02 LI A {
	TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.zxl LI A {
	TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
OL.line01 LI A {
	WIDTH: 192px
}
.zxl LI A {
	WIDTH: 172px
}
OL.line0r2 LI A {
	WIDTH: 190px
}
OL.line01 LI A:hover {
	COLOR: #000
}
.zxl LI A:hover {
	COLOR: #000
}
OL.line00 LI A {
	WIDTH: 160px
}
OL.line00 LI:hover {
	BACKGROUND: url(../images/butbg.gif) #fef9ff no-repeat 2px -133px
}
OL.Pline01 LI A {
	WIDTH: 232px
}
OL.Pline02 LI A {
	WIDTH: 518px; FONT-SIZE: 14px
}
OL.line01 LI A:hover {
	TEXT-DECORATION: underline
}
.zxl LI A:hover {
	TEXT-DECORATION: underline
}
OL.line00 LI A:hover {
	TEXT-DECORATION: underline
}
OL.Pline01 LI A:hover {
	TEXT-DECORATION: underline
}
OL.Pline02 LI A:hover {
	TEXT-DECORATION: underline
}
OL.line02 {
	LIST-STYLE-TYPE: none; MARGIN: 0px; COLOR: #574d3a; LIST-STYLE-IMAGE: none
}
OL.line03 {
	LIST-STYLE-TYPE: none; MARGIN: 0px; COLOR: #574d3a; LIST-STYLE-IMAGE: none
}
OL.line02 LI {
	BORDER-BOTTOM: #f8f3e6 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; ZOOM: 1; DISPLAY: block; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 4px
}
OL.line03 LI {
	BORDER-BOTTOM: #e9e2d5 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; ZOOM: 1; DISPLAY: block; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 6px
}
OL.line02 LI:hover {
	BACKGROUND: #fef9ff
}
OL.line03 LI:hover {
	BACKGROUND: #fef9ff
}
OL.line02 LI A {
	COLOR: #0f989c; TEXT-DECORATION: underline
}
OL.line03 LI A {
	COLOR: #0f989c; TEXT-DECORATION: underline
}
OL.line03 LI A:hover {
	TEXT-DECORATION: none !important
}
OL.line03 STRONG {
	COLOR: #f00
}
.lin02bg {
	BORDER-BOTTOM: #d5cea4 1px solid; PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 25px; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; BACKGROUND: url(../images/titbg.gif) repeat-x left -43px; HEIGHT: 25px !important; COLOR: #856b31 !important; VERTICAL-ALIGN: middle; FONT-WEIGHT: bolder; PADDING-TOP: 0px !important
}
.lin02bg B {
	FONT-WEIGHT: bolder !important
}
.lin02bgC {
	BACKGROUND: #fef9ff; BORDER-TOP: #fde8fd 1px solid
}
.line0r2bg {
	BACKGROUND: #fef9ff; BORDER-TOP: #fde8fd 1px solid
}
OL.line02 LI EM {
	FONT-STYLE: normal; WIDTH: 11%; DISPLAY: block; FLOAT: left
}
OL.line02 LI ADDRESS {
	FONT-STYLE: normal; WIDTH: 5%; DISPLAY: block; FLOAT: left
}
OL.line02 LI I {
	FONT-STYLE: normal; WIDTH: 18%; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
OL.line02 LI U {
	WIDTH: 22%; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden; TEXT-DECORATION: none
}
OL.line02 LI B {
	WIDTH: 31%; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden; FONT-WEIGHT: normal
}
OL.line02 LI A {
	TEXT-DECORATION: underline
}
OL.line02 LI A:hover {
	TEXT-DECORATION: none
}
OL.line03 LI EM {
	TEXT-ALIGN: center; FONT-STYLE: normal; WIDTH: 10%; DISPLAY: block; FLOAT: left
}
OL.line03 LI B {
	TEXT-ALIGN: center; FONT-STYLE: normal; WIDTH: 9%; DISPLAY: block; FLOAT: left; FONT-WEIGHT: normal
}
OL.line03 LI e {
	TEXT-ALIGN: center; FONT-STYLE: normal; WIDTH: 15%; DISPLAY: block; FLOAT: left; FONT-WEIGHT: normal
}
OL.line03 LI I {
	FONT-STYLE: normal; WIDTH: 20%; DISPLAY: block; FLOAT: left
}
OL.line03 LI ADDRESS {
	FONT-STYLE: normal; WIDTH: 5%; DISPLAY: block; FLOAT: left
}
OL.line03 LI U {
	WIDTH: 8%; DISPLAY: block; FLOAT: left; TEXT-DECORATION: none
}
.tit01T2 {
	MARGIN-TOP: 2px; BACKGROUND: url(../images/zxbg09.gif) repeat-x; HEIGHT: 28px
}
.tit01T2 H2 {
	PADDING-LEFT: 4px; COLOR: #8a6404
}
.tit01T2 IMG {
	MARGIN-LEFT: 2px
}
UL.tit01T2B {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 5px 0px 0px 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; CLEAR: both; LIST-STYLE-IMAGE: none; PADDING-TOP: 5px
}
UL.tit01T2B LI {
	DISPLAY: inline
}
UL.tit01T2B LI A {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 65px; DISPLAY: block; BACKGROUND: url(../images/anbg.gif) -509px -187px; FLOAT: left; HEIGHT: 20px; COLOR: #524915; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 1px
}
UL.tit01T2B LI A:hover {
	BACKGROUND: url(../images/anbg.gif) -425px -187px; COLOR: #fff !important; FONT-WEIGHT: bolder
}
A.tit01T2Bc {
	BACKGROUND: url(../images/anbg.gif) -425px -187px; COLOR: #fff !important; FONT-WEIGHT: bolder
}
.ljmain {
	BORDER-BOTTOM: #fcf2bc 1px solid; PADDING-BOTTOM: 3px; MARGIN: 3px auto; PADDING-LEFT: 0px; WIDTH: 950px; PADDING-RIGHT: 0px; HEIGHT: auto; CLEAR: both; BORDER-TOP: #fcf2bc 1px solid; PADDING-TOP: 3px
}
.ljdh {
	TEXT-ALIGN: center; WIDTH: 120px; BACKGROUND: url(../images/yqlj.gif); FLOAT: left; LETTER-SPACING: 3px; HEIGHT: 24px; PADDING-TOP: 4px
}
.ljdh IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.ljdh STRONG {
	FONT-SIZE: 14px
}
.ljnr2 {
	BORDER-BOTTOM: #fcf2bc 1px solid; PADDING-BOTTOM: 3px; MARGIN: 3px auto; PADDING-LEFT: 0px; WIDTH: 950px; PADDING-RIGHT: 0px; HEIGHT: auto; CLEAR: both; PADDING-TOP: 3px
}
.ljnr {
	LINE-HEIGHT: 2; CLEAR: both
}
.ljnr2 {
	LINE-HEIGHT: 2; CLEAR: both
}
.ljnr A {
	PADDING-RIGHT: 5px; COLOR: #d4be6a
}
.ljnr1 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; WIDTH: 950px; PADDING-RIGHT: 5px; BACKGROUND: #fff; FLOAT: left; HEIGHT: auto; VERTICAL-ALIGN: middle; OVERFLOW: hidden; PADDING-TOP: 0px
}
.ljnr1 STRONG {
	COLOR: #f00
}
.ljnr1 A {
	COLOR: #aeaeae !important
}
.ljnr1 A:hover {
	COLOR: #555 !important
}
.ljnr A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.ljnr2 A {
	PADDING-RIGHT: 5px; COLOR: #0f989c
}
.ljnr A:hover {
	COLOR: #cc9900; TEXT-DECORATION: underline
}
.ljnr2 A:hover {
	TEXT-DECORATION: underline
}
.footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; LINE-HEIGHT: 2; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: url(../images/daobg01.gif) #fff repeat-x left -135px; COLOR: #c28729; CLEAR: both; BORDER-TOP: #efde80 1px solid; PADDING-TOP: 8px
}
.footer UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.footer UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: inline; BORDER-RIGHT: #b5a060 1px solid; PADDING-TOP: 0px
}
.footer IMG {
	VERTICAL-ALIGN: middle
}
.footer A {
	COLOR: #c28729
}
.footer A:hover {
	COLOR: #a26a11; TEXT-DECORATION: underline
}
.dbdh {
	WIDTH: 795px; FLOAT: right
}
.yzbutton {
	TEXT-ALIGN: center
}
.dbdhleft {
	WIDTH: 150px; BACKGROUND: #fcf5e0; FLOAT: left; HEIGHT: 750px; BORDER-RIGHT: #efde80 1px solid
}
.dbdhleft1 {
	BORDER-BOTTOM: #f7db96 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #f7db96 1px solid; MARGIN: 2px 0px; BACKGROUND: url(../images/mapbg.gif) repeat-x; HEIGHT: 40px; VERTICAL-ALIGN: middle; BORDER-TOP: #f7db96 1px solid; BORDER-RIGHT: #f7db96 1px solid
}
.dbdhleft1:hover {
	BACKGROUND: #fff
}
.dbdhleft1 H2 {
	MARGIN-TOP: 9px; COLOR: #ff9900; MARGIN-RIGHT: 10px
}
.dbdhleft1 H2 A {
	COLOR: #ff9900
}
.dbdhleft1 H2 A:hover {
	COLOR: #ff9900
}
.dbdhleft1 IMG {
	MARGIN-TOP: 5px; FLOAT: left; MARGIN-LEFT: 60px
}
DL {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #666666; PADDING-TOP: 10px
}
DL A {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
DL A:hover {
	COLOR: #0000ff; TEXT-DECORATION: none
}
DT {
	MARGIN: 5px auto; FONT-SIZE: 14px
}
DD {
	MARGIN-LEFT: 10px
}
.edu {
	WIDTH: 55px; BACKGROUND: url(../images/wedu.gif) no-repeat; FLOAT: right; HEIGHT: 475px
}
.siteleft {
	BORDER-BOTTOM: #efde80 1px solid; TEXT-ALIGN: right; WIDTH: 100px; FLOAT: left; HEIGHT: 23px; COLOR: #666666; FONT-SIZE: 14px; FONT-WEIGHT: bolder
}
.siteright {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; WIDTH: 650px; FLOAT: right; COLOR: #666666
}
.sitemap {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 35px; PADDING-TOP: 10px
}
.aa {
	BORDER-BOTTOM: #d2d8dc 1px solid; BORDER-LEFT: #d2d8dc 1px solid; MARGIN: 12px auto 5px; WIDTH: 950px; HEIGHT: 27px; BORDER-TOP: #d2d8dc 1px solid; BORDER-RIGHT: #d2d8dc 1px solid; PADDING-TOP: 5px
}
.aa UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.aa UL LI {
	DISPLAY: inline
}
.aa UL LI INPUT {
	BORDER-BOTTOM: #e3c881 1px solid; BORDER-LEFT: #e3c881 1px solid; LINE-HEIGHT: 19px; HEIGHT: 19px; COLOR: #000; VERTICAL-ALIGN: middle; BORDER-TOP: #e3c881 1px solid; BORDER-RIGHT: #e3c881 1px solid
}
.aa UL LI INPUT:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.aa UL LI A:hover {
	TEXT-DECORATION: underline
}
.aa EM {
	BORDER-BOTTOM: #ffd8ab 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffd8ab 1px solid; PADDING-BOTTOM: 3px; FONT-STYLE: normal; PADDING-LEFT: 3px; WIDTH: 160px; PADDING-RIGHT: 3px; BACKGROUND: url(../images/wjmmbg.jpg) repeat-x; HEIGHT: 22px; MARGIN-LEFT: 12px; BORDER-TOP: #ffd8ab 1px solid; BORDER-RIGHT: #ffd8ab 1px solid; PADDING-TOP: 3px
}
.sea EM {
	BORDER-BOTTOM: #ffd8ab 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffd8ab 1px solid; PADDING-BOTTOM: 3px; FONT-STYLE: normal; PADDING-LEFT: 3px; WIDTH: 190px; PADDING-RIGHT: 3px; BACKGROUND: url(../images/wjmmbg.jpg) repeat-x; HEIGHT: 20px; BORDER-TOP: #ffd8ab 1px solid; BORDER-RIGHT: #ffd8ab 1px solid; PADDING-TOP: 3px
}
.aa EM A {
	COLOR: #8d6500
}
.searight EM {
	COLOR: #8d6500
}
.aa EM A:hover {
	TEXT-DECORATION: underline
}
.seacbg1 SELECT {
	BORDER-BOTTOM: #f2f2d8 1px solid; BORDER-LEFT: #f2f2d8 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #ffffe6; COLOR: #6b6b55; BORDER-TOP: #f2f2d8 1px solid; BORDER-RIGHT: #f2f2d8 1px solid; PADDING-TOP: 2px
}
.seacbg2 SELECT {
	BORDER-BOTTOM: #f2f2d8 1px solid; BORDER-LEFT: #f2f2d8 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #fdf4f1; COLOR: #6b6b55; BORDER-TOP: #f2f2d8 1px solid; BORDER-RIGHT: #f2f2d8 1px solid; PADDING-TOP: 2px
}
.seainput {
	BORDER-BOTTOM: #e8d6a6 1px solid; BORDER-LEFT: #e8d6a6 1px solid; LINE-HEIGHT: 19px; PADDING-LEFT: 30px; BACKGROUND: url(../images/anbg.gif) #ffffe6 no-repeat left -612px; HEIGHT: 19px; COLOR: #808066; VERTICAL-ALIGN: middle; BORDER-TOP: #e8d6a6 1px solid; BORDER-RIGHT: #e8d6a6 1px solid
}
.searight EM {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; DISPLAY: block; MARGIN-BOTTOM: 4px; FONT-WEIGHT: bolder; PADDING-TOP: 1px
}
.searight IMG {
	MARGIN: 0px 3px; VERTICAL-ALIGN: middle
}
.sea {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 700px; PADDING-RIGHT: 5px; DISPLAY: block; MARGIN-BOTTOM: 5px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 5px
}
.seacbg2 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 700px; PADDING-RIGHT: 5px; DISPLAY: block; MARGIN-BOTTOM: 5px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 5px
}
.sea {
	BORDER-BOTTOM: #d2d8dc 1px solid; LINE-HEIGHT: 30px
}
.seacbg2 DIV {
	MARGIN: 2px 2px 2px 0px; WIDTH: 215px !important; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: #fefdfa; FLOAT: left; BORDER-RIGHT: #999 1px dotted
}
.seacbg2 DIV EM {
	PADDING-BOTTOM: 3px; FONT-STYLE: normal; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/fl.jpg); PADDING-TOP: 3px
}
.seacbg2 DIV EM A {
	TEXT-DECORATION: none
}
.seacbg2 DIV H3 {
	DISPLAY: inline; LETTER-SPACING: 1px; COLOR: #f00; FONT-SIZE: 12px
}
.seacbg2 DIV H3 IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.seacbg2 DIV A:hover {
	TEXT-DECORATION: underline
}
.seacbg2 DIV P {
	MARGIN: 5px
}
.flxx P {
	MARGIN: 5px
}
.seacbg2 DIV P A {
	PADDING-BOTTOM: 2px; MARGIN: 3px 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; FLOAT: left; COLOR: #7a5f25; WORD-BREAK: keep-all; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.flxx P A {
	PADDING-BOTTOM: 2px; MARGIN: 3px 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; FLOAT: left; COLOR: #7a5f25; WORD-BREAK: keep-all; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.seacbg2 DIV P A:hover {
	BACKGROUND: #a46400; COLOR: #fff; TEXT-DECORATION: none
}
.flxx P A:hover {
	BACKGROUND: #a46400; COLOR: #fff; TEXT-DECORATION: none
}
.seacbg2 IMG {
	MARGIN: auto 3px
}
.seacbg2 A {
	TEXT-DECORATION: underline
}
.seacbg2 A:hover {
	TEXT-DECORATION: none
}
.banR {
	WIDTH: 238px; FLOAT: left; BORDER-RIGHT: #d2d8dc 1px solid
}
.ban1 {
	POSITION: relative; MARGIN: 3px 0px 3px 3px; WIDTH: 230px; COLOR: #545454
}
.ban2 {
	POSITION: relative; MARGIN: 3px 0px 3px 3px; WIDTH: 230px; COLOR: #545454
}
.ban1 H2 A {
	WIDTH: 230px; DISPLAY: block; HEIGHT: 105px
}
.ban2 H2 A {
	WIDTH: 230px; DISPLAY: block; HEIGHT: 105px
}
.ban1 H2 SPAN {
	DISPLAY: none
}
.ban2 H2 SPAN {
	DISPLAY: none
}
.ban1 UL {
	Z-INDEX: 10; POSITION: absolute; MARGIN: 20px 0px 0px 115px; TOP: 0px; LEFT: 0px
}
.ban2 UL {
	Z-INDEX: 10; POSITION: absolute; MARGIN: 20px 0px 0px 115px; TOP: 0px; LEFT: 0px
}
.ban1 UL LI {
	MARGIN: 6px 0px
}
.ban2 UL LI {
	MARGIN: 6px 0px
}
.ban1 UL LI A {
	PADDING-LEFT: 12px; BACKGROUND: url(../images/anbg.gif) no-repeat left -571px
}
.ban2 UL LI A {
	PADDING-LEFT: 12px; BACKGROUND: url(../images/anbg.gif) no-repeat left -571px
}
.ban1 UL LI A:hover {
	BACKGROUND: url(../images/anbg.gif) no-repeat left -594px; COLOR: #000; TEXT-DECORATION: underline
}
.ban2 UL LI A:hover {
	BACKGROUND: url(../images/anbg.gif) no-repeat left -594px; COLOR: #000; TEXT-DECORATION: underline
}
.ban1 H2 A {
	BACKGROUND: url(../images/anbg.gif) left -135px
}
.ban1:hover {
	BACKGROUND: url(../images/anbg.gif) left -27px
}
.ban1 H2 A:hover {
	BACKGROUND: url(../images/anbg.gif) left -27px
}
.ban2 H2 A {
	BACKGROUND: url(../images/anbg.gif) left -243px
}
.ban2:hover {
	BACKGROUND: url(../images/anbg.gif) left -352px
}
.ban2 H2 A:hover {
	BACKGROUND: url(../images/anbg.gif) left -352px
}
.ban1 UL LI A H1 {
	DISPLAY: inline; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.ban2 UL LI A H1 {
	DISPLAY: inline; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.sealeft {
	LINE-HEIGHT: 30px; PADDING-LEFT: 8px; WIDTH: 455px; FLOAT: left; HEIGHT: 65px; BORDER-RIGHT: #999 1px dotted
}
.searight {
	WIDTH: 210px; FLOAT: right; HEIGHT: auto
}
.tit01 {
	FLOAT: left; HEIGHT: 25px
}
.tit02 {
	FLOAT: left; HEIGHT: 25px
}
.jytit01 {
	FLOAT: left; HEIGHT: 25px
}
.tit01 {
	WIDTH: 456px; BACKGROUND: url(../images/ggaobg.jpg) repeat-x
}
.tit02 {
	WIDTH: 456px; BACKGROUND: url(../images/tit03.jpg) repeat-x
}
.title01 {
	WIDTH: 456px; BACKGROUND: url(../images/tit03.jpg) repeat-x
}
.tit03 {
	WIDTH: 483px; BACKGROUND: url(../images/tit03.jpg) repeat-x
}
.tit01 H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 35px; PADDING-RIGHT: 0px; COLOR: #fff; PADDING-TOP: 5px
}
.tit03 {
	HEIGHT: 25px
}
.title01 {
	HEIGHT: 25px
}
.tit02 H2 {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; COLOR: #8a6404; PADDING-TOP: 3px
}
.tit03 H2 {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; COLOR: #8a6404; PADDING-TOP: 3px
}
.title01 H2 {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; COLOR: #8a6404; PADDING-TOP: 3px
}
.jytit01 H2 {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 4px; PADDING-LEFT: 7px; PADDING-RIGHT: 0px; COLOR: #8a6404; PADDING-TOP: 3px
}
.tit03 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.tit01 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.tit02 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.tit01T2 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.title01 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.zxt04 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.zxt05 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.zxt06 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.zxt06x A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.zxt07 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.zxt01 A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #fef6ce 1px solid; PADDING-BOTTOM: 0px; MARGIN: 5px 3px 0px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../images/butbg.gif) repeat-x left -94px; FLOAT: right; HEIGHT: 17px; COLOR: #c58508; BORDER-TOP: #fef6ce 1px solid; BORDER-RIGHT: #fef6ce 1px solid; PADDING-TOP: 0px
}
.tit03 A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.tit01 A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.tit02 A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.tit01T2 A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.zxt04 A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.zxt05 A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.zxt06 A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.zxt06x A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.zxt07 A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.zxt01 A:hover {
	BORDER-BOTTOM: #bff94f 1px solid; BORDER-LEFT: #bff94f 1px solid; BACKGROUND: #fff; COLOR: #76b900; BORDER-TOP: #bff94f 1px solid; BORDER-RIGHT: #bff94f 1px solid
}
.t01 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 210px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/fl.jpg); FLOAT: left; HEIGHT: 18px; PADDING-TOP: 3px
}
.yjgg {
	WIDTH: 448px; FLOAT: left; HEIGHT: 400px; PADDING-TOP: 3px
}
.line01 {
	FLOAT: left
}
.Rtu {
	MARGIN-TOP: 5px; FLOAT: right; MARGIN-RIGHT: 20px
}
.tit04 {
	BORDER-BOTTOM: #ffbc52 1px solid; BORDER-LEFT: #ffbc52 1px solid; LINE-HEIGHT: 25px; MARGIN: 5px 0px 0px 10px; BACKGROUND: #ffedd0; HEIGHT: auto; BORDER-TOP: #ffbc52 1px solid; BORDER-RIGHT: #ffbc52 1px solid
}
.tit05 {
	BORDER-BOTTOM: #ffbc52 1px solid; BORDER-LEFT: #ffbc52 1px solid; LINE-HEIGHT: 25px; MARGIN: 5px 0px 0px 10px; BACKGROUND: #ffedd0; HEIGHT: auto; BORDER-TOP: #ffbc52 1px solid; BORDER-RIGHT: #ffbc52 1px solid
}
.tit05 {
	WIDTH: 465px
}
.tit04 {
	WIDTH: 430px
}
.tit04 H3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 35px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 18px; FONT-WEIGHT: bolder; PADDING-TOP: 4px
}
.tit05 H3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 35px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 18px; FONT-WEIGHT: bolder; PADDING-TOP: 4px
}
.tit04 H3 A:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.tit05 H3 A:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.tit04 P {
	MARGIN-LEFT: 5px
}
.tit05 P {
	MARGIN-LEFT: 5px
}
.tit04 A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.tit05 A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.news {
	MARGIN-TOP: 6px; FLOAT: left
}
.t02 {
	BORDER-BOTTOM: #c99384 2px solid; WIDTH: 200px; FLOAT: left; HEIGHT: 25px
}
.t02 H2 {
	
}
.zxmain {
	WIDTH: 950px; BACKGROUND: #fff; HEIGHT: auto; CLEAR: both
}
.symain {
	WIDTH: 950px; BACKGROUND: #fff; HEIGHT: auto; CLEAR: both
}
.symain {
	BORDER-BOTTOM: #d2d8dc 1px solid; BORDER-LEFT: #d2d8dc 1px solid; HEIGHT: 220px; BORDER-TOP: #d2d8dc 1px solid; BORDER-RIGHT: #d2d8dc 1px solid
}
.zxleft {
	FLOAT: right
}
.zxmid {
	FLOAT: left
}
.zxleftb {
	FLOAT: left
}
.zxleft {
	BORDER-BOTTOM: #a7f3e7 1px solid; BORDER-LEFT: #a7f3e7 1px solid; WIDTH: 308px; HEIGHT: auto; BORDER-TOP: #a7f3e7 1px solid; BORDER-RIGHT: #a7f3e7 1px solid
}
.zxleftb {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 208px; HEIGHT: auto; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.zxmid {
	WIDTH: 395px; MARGIN-LEFT: 14px; 
}
.zxright {
	BORDER-BOTTOM: #a7f3e7 1px solid; BORDER-LEFT: #a7f3e7 1px solid; WIDTH: 330px; MARGIN-BOTTOM: 2px; FLOAT: right; HEIGHT: auto; MARGIN-LEFT: 3px; BORDER-TOP: #0081c6 1px solid; BORDER-RIGHT: #a7f3e7 1px solid
}
.zxt01 {
	MARGIN-TOP: 3px; WIDTH: 395px; BACKGROUND: #0081c6; HEIGHT: 28px
}

.zxt01 H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.zxtit {
	BORDER-BOTTOM: #a7f3e7 1px solid; TEXT-ALIGN: center; MARGIN-TOP: 8px; COLOR: #000; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.zxtit P {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px; MARGIN-LEFT: 5px
}
.zxtit P A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.zxggnr {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; COLOR: #262626; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.zxline UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.zxline OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.zxline LI {
	LINE-HEIGHT: 25px; DISPLAY: block
}
.zxline LI A {
	WIDTH: 240px; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; COLOR: #996600; MARGIN-LEFT: 10px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.zxline LI A:hover {
	COLOR: #996600; TEXT-DECORATION: underline
}
.zxt02 {
	MARGIN: 4px; WIDTH: 28px; BACKGROUND: #1081c0; FLOAT: right; HEIGHT: 360px; COLOR: #fff
}
.zxt02 H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px; PADDING-TOP: 80px
}
.zxt02 H2 A {
	COLOR: #fff
}
.zxt02 H2 A:hover {
	COLOR: #fff
}
.zxline01 {
	MARGIN: 5px 0px 0px; WIDTH: 265px; BACKGROUND: #eee; FLOAT: left; HEIGHT: auto
}
.zxline01 LI {
	MARGIN: 3px 0px 0px 5px; PADDING-LEFT: 10px; BACKGROUND: url(../images/coin01.gif) no-repeat left 50%; PADDING-TOP: 3px
}
.zxline01 LI {
	BORDER-BOTTOM: #dbdbdb 1px solid; HEIGHT: 18px
}
.zxline01 LI A {
	WIDTH: 150px; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
.zxline01 LI A:hover {
	TEXT-DECORATION: underline
}
.zxt03 UL {
	LIST-STYLE-TYPE: none; MARGIN-TOP: 10px; LIST-STYLE-IMAGE: none
}
.zxt03 LI {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 2px
}
.zxt03 LI H2 {
	MARGIN: 5px 5px 0px 13px; DISPLAY: block; FLOAT: left; COLOR: #fff
}
.zxt03 LI H2 A {
	COLOR: #fff
}
.zxt03 LI H2 A:hover {
	COLOR: #fff
}
.zxbg1 {
	WIDTH: 122px; BACKGROUND: url(../images/tit01.jpg) no-repeat; HEIGHT: 29px
}
.zxbg2 {
	WIDTH: 122px; BACKGROUND: url(../images/tit02.jpg) no-repeat; HEIGHT: 29px
}
.zxt03 LI:hover {
	WIDTH: 122px; BACKGROUND: url(../images/tit02.jpg) no-repeat; HEIGHT: 29px
}
.zxbl {
	BORDER-BOTTOM: #a7f3e7 1px solid; BORDER-LEFT: #a7f3e7 1px solid; MARGIN-TOP: 3px; WIDTH: 720px; FLOAT: left; HEIGHT: auto; BORDER-TOP: #a7f3e7 1px solid; BORDER-RIGHT: #a7f3e7 1px solid
}
.zxt04 {
	WIDTH: 350px; BACKGROUND: url(../images/tit03.jpg) repeat-x; FLOAT: left; HEIGHT: 25px
}
.zxt05 {
	WIDTH: 350px; BACKGROUND: url(../images/tit03.jpg) repeat-x; FLOAT: left; HEIGHT: 25px
}
.zxblt {
	WIDTH: 350px; FLOAT: left
}
.zxt07 {
	WIDTH: 196px; BACKGROUND: url(../images/tit03.jpg) repeat-x; FLOAT: left; HEIGHT: 25px
}
.zxt04 H2 {
	MARGIN: 5px 0px 0px 10px; COLOR: #8d6500
}
.zxt05 H2 {
	MARGIN: 5px 0px 0px 10px; COLOR: #8d6500
}
.zxt07 H2 {
	MARGIN: 5px 0px 0px 10px; COLOR: #8d6500
}
.zxt05 {
	WIDTH: 350px; MARGIN-LEFT: 10px
}
.zxbr {
	BORDER-BOTTOM: #a7f3e7 1px solid; BORDER-LEFT: #a7f3e7 1px solid; MARGIN-TOP: 3px; WIDTH: 212px; FLOAT: right; HEIGHT: 270px; BORDER-TOP: #a7f3e7 1px solid; BORDER-RIGHT: #a7f3e7 1px solid
}
.zxt06 {
	BACKGROUND: url(../images/t02.gif) no-repeat; HEIGHT: 25px
}
.zxt06x {
	BACKGROUND: url(../images/t02x.gif) no-repeat; HEIGHT: 25px
}
.zxt06 H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; COLOR: #8d6500; PADDING-TOP: 10px
}
.zxt06x H2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; COLOR: #8d6500; PADDING-TOP: 10px
}
.zxnews {
	TEXT-ALIGN: center; WIDTH: 335px; BACKGROUND: #f3f1f2; FLOAT: left; HEIGHT: 64px
}
.zxnews P {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px; MARGIN-LEFT: 5px
}
.zxnews A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.zxtp {
	WIDTH: 80px; FLOAT: right
}
.zxl {
	MARGIN-TOP: 2px
}
.fpic {
	Z-INDEX: 3; BORDER-BOTTOM: #dddddd 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #dddddd 1px solid; WIDTH: 330px; HEIGHT: 220px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid
}
.thubpic {
	Z-INDEX: 20; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; WIDTH: 63px; PADDING-RIGHT: 0px; HEIGHT: 45px; TOP: 10px; CURSOR: pointer; PADDING-TOP: 4px
}
.thubpiccur {
	Z-INDEX: 20; BORDER-BOTTOM: #000 2px solid; BORDER-LEFT: #000 2px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; WIDTH: 63px; PADDING-RIGHT: 0px; BORDER-TOP: #000 2px solid; TOP: 10px; CURSOR: pointer; BORDER-RIGHT: #000 2px solid; PADDING-TOP: 4px
}
.thubpiccur {
	Z-INDEX: 30
}
#focpic {
	POSITION: absolute; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; TOP: 1px; LEFT: 1px
}
.thubpic1 {
	Z-INDEX: 20; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; WIDTH: 63px; PADDING-RIGHT: 0px; HEIGHT: 49px; TOP: 10px; CURSOR: pointer; PADDING-TOP: 4px
}
.thubpiccur1 {
	Z-INDEX: 20; PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; WIDTH: 63px; PADDING-RIGHT: 0px; HEIGHT: 49px; TOP: 10px; CURSOR: pointer; PADDING-TOP: 4px
}
.thubpiccur1 {
	Z-INDEX: 30
}
.daohang {
	LINE-HEIGHT: 20px; PADDING-LEFT: 14px; PADDING-TOP: 10px
}
.topTcT_right A {
	TEXT-DECORATION: underline
}
.topTcT_right A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.topTcT_left {
	FLOAT: left
}
.topTcT_right {
	PADDING-RIGHT: 10px; FLOAT: right; FONT-WEIGHT: bold
}
